.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permite quebra de linha */
}

.experience li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('/assets/img/icons/calender.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

@media (max-width: 600px) {
    .experience li .period {
        flex-direction: column; /* Muda a direção para coluna em telas pequenas */
    }
}
